.header {
    background: #cccccc;
    padding: 0 10px;
    width: 100%;
}

.header-nav li {
    display: inline-block;
    padding: 10px 5px;
    border: 1px solid transparent;
}

.header-nav li:hover {
    border-color: grey;
}

.header-nav a {
    text-decoration: none;
    color: black;
}
.footer{
    height: 120px;
    background-color: #0d1119;
    margin: 60px 0 0 0;
    padding: 0 20px;
    clear: both;
}
.footer h6{
    color: #cccccc;
    font-size: 11px;
}
.facebook{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: #2e3192;
    background-image: url(img/facebook.png);
}
.tweet{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: #00aeef;
    background-image: url(img/tweet.png);
}
.youtube{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: #ed3123;
    background-image: url(img/youtube.png);
}
.link{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: #171a8f;
    background-image: url(img/linked.png);
}
.logoOut{
    display: inline-block;
    background-repeat: no-repeat;
    background-position: center;
    float: right;
    margin: 10px;
}
.flex{
    display: flex;
}
.part{
    width: 48%;
}
nav{
    float: left;
}
.first{
    width: 70%;
    float: right;
}
.first p{
    font-size: 18px;
}
.first h3{
    font-size: 25px;
}
nav a{
    text-decoration: none;
    color: #0d1119;
    font-size: 26px;
    line-height: 2;
}
nav a:hover{
    color: #00aeef;
}